# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer': [
    { 'label': 'Enable ungit', 'command': 'ungit:toggle' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ungit'
      'submenu': [
        { 'label': 'Open Ungit', 'command': 'ungit:toggle' },
        { 'label': 'Shutdown Ungit', 'command': 'ungit:kill' }
      ]
    ]
  }
]
